# ===============================
# Deep Learning model files
# ===============================
*.h5
*.keras
backend/model/

# ===============================
# Generated static outputs
# ===============================
backend/static/*.png
backend/static/*.jpg
backend/static/*.txt

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc

# ===============================
# Virtual environments
# ===============================
venv/
.env

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
